# Standard File directories
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Videos/

# Projects
node_modules/
go
.beam
.nvm
.zprezto
.npm
.node-gyp
.ssh
.vim
.wget-hsts
.xsession-errors*
.z
.zcompcache
.zcompdump
.zhistory
.zpreztorc
hacks
.git-private
.aws
.gnupg
.cache
.config
.local
